Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch, @oneapi-src/onednn-maintain, @oneapi-src/onednn-devops, @oneapi-src/onednn-doc, @intel-innersource/dnn-doc, @oneapi-src/onednn-cpu-aarch64, @oneapi-src/onednn-cpu-x64, @intel-innersource/dnn-cpu, @oneapi-src/onednn-gpu-amd, @oneapi-src/onednn-gpu-intel, @intel-innersource/dnn-gpu, @oneapi-src/onednn-gpu-nvidia, @oneapi-src/onednn-gpu-generic, @oneapi-src/onednn-graph, @intel-innersource/dnn-graph, @intel-innersource/dnn-compiler

format
  src/gpu/generic/sycl/ref_deconvolution.hpp
Owners: @oneapi-src/onednn-gpu-generic, @intel-innersource/dnn-arch, @intel-innersource/dnn-gpu

fixup: gpu: generic: sycl: sum: implemented (#1940)
  src/gpu/generic/sycl/ref_sum.hpp
  src/gpu/generic/sycl/sum_kernels.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Owners: @oneapi-src/onednn-gpu-generic, @intel-innersource/dnn-arch, @intel-innersource/dnn-gpu

cpu: aarch64 Use public stateless ACL API for indirect conv
  README.md
  cmake/ACL.cmake
  src/cpu/aarch64/acl_indirect_gemm_convolution.hpp
Owners: @oneapi-src/onednn-doc, @oneapi-src/onednn-arch, @intel-innersource/dnn-doc, @intel-innersource/dnn-arch, @oneapi-src/onednn-cpu-aarch64

x64: jit_uni_postops_injector: add static aux_vec_count function
  src/cpu/x64/brgemm/brgemm.cpp
  src/cpu/x64/brgemm/brgemm_utils.cpp
  src/cpu/x64/injectors/jit_uni_postops_injector.cpp
  src/cpu/x64/injectors/jit_uni_postops_injector.hpp
Owners: @oneapi-src/onednn-cpu-x64, @intel-innersource/dnn-cpu

x64: jit_uni_eltwise_injector: avoid using the stack too often
  src/cpu/x64/injectors/jit_uni_eltwise_injector.cpp
Owners: @oneapi-src/onednn-cpu-x64, @intel-innersource/dnn-cpu

xe: jit: ngen: update from upstream
  src/gpu/intel/jit/ngen/ngen_pseudo.hpp
Owners: @oneapi-src/onednn-gpu-intel, @intel-innersource/dnn-gpu

gpu: conv_v2: introduce subtiling via iter_outer_tile parameter
  src/gpu/intel/jit/v2/conv/ir_builder.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.hpp
  src/gpu/intel/jit/v2/conv/plan.cpp
  src/gpu/intel/jit/v2/conv/plan.hpp
  src/gpu/intel/jit/v2/conv/planner/search.cpp
Owners: @oneapi-src/onednn-gpu-intel, @intel-innersource/dnn-gpu

gpu: conv_v2: extend tensor API
  src/gpu/intel/jit/v2/ir/send.hpp
  src/gpu/intel/jit/v2/ir/tensor.cpp
  src/gpu/intel/jit/v2/ir/tensor.hpp
Owners: @oneapi-src/onednn-gpu-intel, @intel-innersource/dnn-gpu

gpu: conv_v2: fix C store layout in epilogue
  src/gpu/intel/jit/v2/conv/ir_builder.cpp
Owners: @oneapi-src/onednn-gpu-intel, @intel-innersource/dnn-gpu

gpu: generic: sycl: binary: Reduce number of binary postops (#2021)
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
Owners: @oneapi-src/onednn-gpu-generic, @intel-innersource/dnn-arch, @intel-innersource/dnn-gpu

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2024 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @oneapi-src/onednn-arch @intel-innersource/dnn-arch

# Codeowners
/.github/CODEOWNERS @oneapi-src/onednn-maintain
/MAINTAINERS.md @oneapi-src/onednn-maintain

# Github automation
/.github/ @oneapi-src/onednn-devops

# Documentation
*.md  @oneapi-src/onednn-doc @oneapi-src/onednn-arch @intel-innersource/dnn-doc @intel-innersource/dnn-arch
/doc/ @oneapi-src/onednn-doc @oneapi-src/onednn-arch @intel-innersource/dnn-doc @intel-innersource/dnn-arch

# CPU Engine
/src/cpu/aarch64/ @oneapi-src/onednn-cpu-aarch64 @intel-innersource/dnn-arch
/src/cpu/x64/ @oneapi-src/onednn-cpu-x64 @intel-innersource/dnn-cpu
/src/cpu/rnn/ @oneapi-src/onednn-cpu-x64 @intel-innersource/dnn-cpu

# GPU Engine
/src/gpu/amd/ @oneapi-src/onednn-gpu-amd @intel-innersource/dnn-arch
/src/gpu/intel/ @oneapi-src/onednn-gpu-intel @intel-innersource/dnn-gpu
/src/gpu/nvidia/ @oneapi-src/onednn-gpu-nvidia @intel-innersource/dnn-arch
/src/gpu/generic/ @oneapi-src/onednn-arch @intel-innersource/dnn-arch @intel-innersource/dnn-gpu
/src/gpu/generic/sycl/ @oneapi-src/onednn-gpu-generic @intel-innersource/dnn-arch @intel-innersource/dnn-gpu

# Tests
/tests/benchdnn/inputs/ @oneapi-src/onednn-maintain @intel-innersource/dnn-arch @intel-innersource/dnn-cpu @intel-innersource/dnn-gpu
/tests/benchdnn/graph/ @oneapi-src/onednn-graph @oneapi-src/onednn-arch @intel-innersource/dnn-graph @intel-innersource/dnn-arch
/tests/benchdnn/inputs/graph/ @oneapi-src/onednn-graph @oneapi-src/onednn-arch @intel-innersource/dnn-graph @intel-innersource/dnn-arch
/tests/gtests/graph/ @oneapi-src/onednn-graph @intel-innersource/dnn-graph

# Graph API
/src/graph/ @oneapi-src/onednn-graph @intel-innersource/dnn-graph

# Graph compiler
/src/graph/backend/graph_compiler/ @intel-innersource/dnn-compiler
/tests/gtests/graph/unit/backend/graph_compiler/ @intel-innersource/dnn-compiler
