Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch, @oneapi-src/onednn-devops, @oneapi-src/onednn-cpu-aarch64, @oneapi-src/onednn-cpu-x64, @oneapi-src/onednn-gpu-amd, @oneapi-src/onednn-gpu-intel, @oneapi-src/onednn-gpu-nvidia, @oneapi-src/onednn-gpu-generic, @oneapi-src/onednn-maintain, @oneapi-src/onednn-graph, @oneapi-src/onednn-doc

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2025 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @oneapi-src/onednn-arch @intel-innersource/dnn-arch

# Github automation
/.github/ @oneapi-src/onednn-devops

# CPU Engine
/src/cpu/aarch64/ @oneapi-src/onednn-cpu-aarch64
/src/cpu/x64/ @oneapi-src/onednn-cpu-x64
/src/cpu/rnn/ @oneapi-src/onednn-cpu-x64

# GPU Engine
/src/gpu/amd/ @oneapi-src/onednn-gpu-amd
/src/gpu/intel/ @oneapi-src/onednn-gpu-intel
/src/gpu/nvidia/ @oneapi-src/onednn-gpu-nvidia
/src/gpu/generic/ @oneapi-src/onednn-arch
/src/gpu/generic/sycl/ @oneapi-src/onednn-gpu-generic

# Tests
/tests/benchdnn/inputs/ @oneapi-src/onednn-maintain
/tests/benchdnn/graph/ @oneapi-src/onednn-graph @oneapi-src/onednn-arch
/tests/benchdnn/inputs/graph/ @oneapi-src/onednn-graph @oneapi-src/onednn-arch
/tests/gtests/graph/ @oneapi-src/onednn-graph

# Graph API
/src/graph/ @oneapi-src/onednn-graph

# Documentation
*.md  @oneapi-src/onednn-doc @oneapi-src/onednn-arch
/doc/ @oneapi-src/onednn-doc @oneapi-src/onednn-arch

# Third party components
/third-party/ @oneapi-src/onednn-arch
/third_party/level_zero/ @oneapi-src/onednn-gpu-intel
/third_party/mdapi/ @oneapi-src/onednn-gpu-intel
/third_party/ngen/ @oneapi-src/onednn-gpu-intel
/third_party/xbyak/ @oneapi-src/onednn-cpu-x64
/third_party/xbyak_aarch64/ @oneapi-src/onednn-cpu-aarch64

# Governance and process
/.github/CODEOWNERS @oneapi-src/onednn-maintain
/SECURITY.md @oneapi-src/onednn-maintain
/MAINTAINERS.md @oneapi-src/onednn-maintain
/CONTRIBUTING.md @oneapi-src/onednn-maintain
/CODING_STANDARDS.md @oneapi-src/onednn-maintain
/CODE_OF_CONDUCT.md @oneapi-src/onednn-maintain

src:cpu:aarch64: Enable JIT fp32 -> fp16 reorder (#2647)
  src/cpu/aarch64/jit_uni_reorder.cpp
  src/cpu/reorder/cpu_reorder_regular_f32_f16.cpp
Owners: @oneapi-src/onednn-cpu-aarch64, @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

x64: pool: fix large buffer check
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
Owners: @oneapi-src/onednn-cpu-x64

tmp: properly set async property in tests, stop sync in dnnl, add sync in benchdnn parallel sections
  src/common/dnnl_thread.hpp
  tests/benchdnn/utils/parallel.cpp
  tests/test_thread.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

common: always submit single task in async threadpool
  src/common/dnnl_thread.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

cpu: x64:binary: support per_w broadcast strategy
  src/cpu/x64/jit_uni_binary.cpp
  src/cpu/x64/jit_uni_binary_kernel.cpp
Owners: @oneapi-src/onednn-cpu-x64

integration for micro sdpa kernel
  src/common/sdpa_utils.hpp
  src/graph/backend/dnnl/kernels/sdp_primitive.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive.hpp
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
  src/graph/backend/dnnl/kernels/sdp_primitive_config.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch, @oneapi-src/onednn-graph

micro_sdpa.cl: formatting
  src/gpu/intel/ocl/micro_sdpa.cl
Owners: @oneapi-src/onednn-gpu-intel

fix: drop non-paged benchmarks
  examples/primitives/micro_sdpa.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

x64: pool: Accuracy issue in benchnn pooling test
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
Owners: @oneapi-src/onednn-cpu-x64

graph: backend: dnnl: sdp_decomp: support different qk and v head sizes
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
  src/graph/backend/dnnl/kernels/sdp_decomp_config.hpp
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_all
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: inputs: graph: sdpa: add tests for d_qk != d_v
  tests/benchdnn/inputs/graph/complex_fusion/harness_mha_all
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

include: graph: use empty() instead of size()
  include/oneapi/dnnl/dnnl_graph.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

benchdnn: graph: utils: enclose macro argument in parentheses
  tests/benchdnn/graph/utils.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: remove redundant return statement
  tests/benchdnn/graph/memory_pool.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: initialize in member initializer
  tests/benchdnn/graph/graph.hpp
  tests/benchdnn/graph/ref_primitive.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: fix class/struct naming with _t
  tests/benchdnn/graph/bench_graph.cpp
  tests/benchdnn/graph/deserialize.cpp
  tests/benchdnn/graph/deserialize.hpp
  tests/benchdnn/graph/flex_rewrite.cpp
  tests/benchdnn/graph/flex_rewrite.hpp
  tests/benchdnn/graph/graph.cpp
  tests/benchdnn/graph/graph.hpp
  tests/benchdnn/graph/input_displacer.cpp
  tests/benchdnn/graph/input_displacer.hpp
  tests/benchdnn/graph/memory_pool.hpp
  tests/benchdnn/graph/parser.cpp
  tests/benchdnn/graph/ref_partition.cpp
  tests/benchdnn/graph/ref_partition.hpp
  tests/benchdnn/graph/ref_primitive.cpp
  tests/benchdnn/graph/ref_primitive.hpp
  tests/benchdnn/graph/setting_handler.cpp
  tests/benchdnn/graph/setting_handler.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: use using instead of typedef
  tests/benchdnn/graph/utils.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: use = default to define a trivial destructor
  tests/benchdnn/graph/allocator.hpp
  tests/benchdnn/graph/graph_memory.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: use empty() instead of size()
  tests/benchdnn/graph/setting_handler.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

benchdnn: graph: fix const qualifier
  tests/benchdnn/graph/deserialize.hpp
  tests/benchdnn/graph/graph.hpp
  tests/benchdnn/graph/memory_pool.hpp
Owners: @oneapi-src/onednn-graph, @oneapi-src/onednn-arch

xehpg: jit: gemm: fix walk order calculations for copy-based gemm
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
Owners: @oneapi-src/onednn-gpu-intel

gpu: generic: group norm fwd
  src/gpu/generic/sycl/README.md
  src/gpu/generic/sycl/group_normalization_kernel.hpp
  src/gpu/generic/sycl/ref_group_normalization.cpp
  src/gpu/generic/sycl/ref_group_normalization.hpp
  src/gpu/generic/sycl/sycl_primitive_conf.hpp
  src/gpu/gpu_group_normalization_list.cpp
  tests/gtests/test_group_normalization.cpp
Owners: @oneapi-src/onednn-doc, @oneapi-src/onednn-arch, @oneapi-src/onednn-gpu-generic, @intel-innersource/dnn-arch

threadpool: add wait() method for async TP
  include/oneapi/dnnl/dnnl_threadpool_iface.hpp
  src/cpu/cpu_stream.hpp
  tests/test_thread.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

xe: jit: gemm: disable dynamic quant k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: gemm: disable dynamic quant k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: gemm: disable dynamic quant k-blocking
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @oneapi-src/onednn-gpu-intel

doc: build: rst: misc updates
  doc/build/build_options.md
  doc/rst/index.rst
Owners: @oneapi-src/onednn-doc, @oneapi-src/onednn-arch

Apply suggestions from code review
  README.md
Owners: @oneapi-src/onednn-doc, @oneapi-src/onednn-arch

xe: add missing offset0 when determining if large buffers are required
  src/gpu/intel/compute/kernel_ctx.cpp
  src/gpu/intel/compute/kernel_ctx.hpp
  src/gpu/intel/ocl/gen9_pooling.cpp
  src/gpu/intel/primitive_conf.cpp
Owners: @oneapi-src/onednn-gpu-intel

common: return described memory size when offset0 is set
  src/common/memory.cpp
  src/common/memory_desc_wrapper.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

common: return described memory size when offset0 is set
  src/common/memory.cpp
  src/common/memory_desc_wrapper.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

xe: add missing offset0 when determining if large buffers are required
  src/gpu/intel/compute/kernel_ctx.cpp
  src/gpu/intel/compute/kernel_ctx.hpp
  src/gpu/intel/ocl/gen9_pooling.cpp
  src/gpu/intel/primitive_conf.cpp
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: refactor reorder interface
  src/gpu/intel/jit/conv/gen_convolution.cpp
  src/gpu/intel/jit/ir/primitive_plan.cpp
  src/gpu/intel/jit/reorder/config.cpp
  src/gpu/intel/jit/reorder/config.hpp
  src/gpu/intel/jit/reorder/gen_reorder.cpp
  src/gpu/intel/jit/reorder/ir_builder.cpp
  src/gpu/intel/jit/reorder/ir_builder.hpp
  src/gpu/intel/jit/reorder/normalization.cpp
  src/gpu/intel/jit/reorder/normalization.hpp
  src/gpu/intel/jit/reorder/reorder_kernel.hpp
  src/gpu/intel/jit/reorder/tiler.cpp
  src/gpu/intel/jit/reorder/tiler.hpp
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: reorder: expect dword-aligned data in tiler
  src/gpu/intel/jit/reorder/tiler.cpp
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: reorder: simplify latency approximation
  src/gpu/intel/jit/reorder/tiler.cpp
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: reorder: tune tile sizes
  src/gpu/intel/jit/reorder/tiler.cpp
Owners: @oneapi-src/onednn-gpu-intel

sdpa: tests: fix build error because of SKIP_IF_(CUDA,HIP) macros
  tests/gtests/internals/test_sdpa.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

gtest: internal: refactor common test functions out of sdpa
  tests/gtests/internals/sdpa_internal.hpp
  tests/gtests/internals/test_sdpa.cpp
  tests/gtests/internals/test_utils.cpp
  tests/gtests/internals/test_utils.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

tests: benchdnn: matmul: skip cases going to ref
  tests/benchdnn/inputs/matmul/test_matmul_large_gpu
Owners: @oneapi-src/onednn-maintain

tests: benchdnn: matmul: skip cases going to ref
  tests/benchdnn/inputs/matmul/test_matmul_large_gpu
Owners: @oneapi-src/onednn-maintain
