Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch, @oneapi-src/onednn-devops, @oneapi-src/onednn-cpu-aarch64, @oneapi-src/onednn-cpu-x64, @oneapi-src/onednn-gpu-amd, @oneapi-src/onednn-gpu-intel, @oneapi-src/onednn-gpu-nvidia, @oneapi-src/onednn-gpu-generic, @oneapi-src/onednn-maintain, @oneapi-src/onednn-graph, @oneapi-src/onednn-doc

build: bumped version to v3.7.1
  CMakeLists.txt
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

xe, common: conv: exclude grouped scales from check as not supported
  src/common/convolution.cpp
  src/gpu/intel/jit/conv/config.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch, @oneapi-src/onednn-gpu-intel

xe: enable building with out-of-tree nGEN
  src/gpu/CMakeLists.txt
  src/gpu/intel/CMakeLists.txt
  src/gpu/intel/jit/CMakeLists.txt
  src/gpu/intel/jit/codegen/bank_conflict_allocation.hpp
  src/gpu/intel/jit/codegen/codegen.cpp
  src/gpu/intel/jit/codegen/codegen.hpp
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/operand.hpp
  src/gpu/intel/jit/codegen/reduce.hpp
  src/gpu/intel/jit/codegen/reg_buf.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/codegen/reorder.hpp
  src/gpu/intel/jit/codegen/send.hpp
  src/gpu/intel/jit/conv/key.cpp
  src/gpu/intel/jit/conv/plan_utils.hpp
  src/gpu/intel/jit/conv/zero_out.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/emulation.hpp
  src/gpu/intel/jit/gemm/CMakeLists.txt
  src/gpu/intel/jit/generator.cpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/ir/block_2d_utils.hpp
  src/gpu/intel/jit/ir/fma.hpp
  src/gpu/intel/jit/ir/slm_reduce_builder.hpp
  src/gpu/intel/jit/ngen/ngen_config.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/utils/ngen_type_bridge.hpp
  src/gpu/intel/jit/utils/utils.hpp
  src/gpu/intel/microkernels/entrance_agent.cpp
  third_party/ngen/ngen_register_decl.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch, @oneapi-src/onednn-gpu-intel

ngen: fix various warnings due to NGEN_ASM
  src/gpu/intel/microkernels/entrance_agent.cpp
  third_party/ngen/ngen.hpp
  third_party/ngen/ngen_asm.hpp
  third_party/ngen/ngen_core.hpp
  third_party/ngen/ngen_decoder.hpp
  third_party/ngen/ngen_gen12.hpp
  third_party/ngen/ngen_gen8.hpp
Owners: @oneapi-src/onednn-gpu-intel

xe: jit: gemm: enable x8x8bf16
  src/gpu/intel/jit/gemm/gen_gemm.hpp
  src/gpu/intel/jit/gemm/generator/pieces/c_update.cxx
Owners: @oneapi-src/onednn-gpu-intel

third_party: ngen: fix ngen_asm copyright
  third_party/ngen/ngen_asm.hpp
Owners: @oneapi-src/onednn-gpu-intel

src: gpu: intel: jit: eliminate thread_local expr_t for tgs
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/ir/config.hpp
  src/gpu/intel/jit/ir/ir.hpp
  src/gpu/intel/jit/ir/ir_builder.cpp
  src/gpu/intel/jit/ir/ir_builder.hpp
  src/gpu/intel/jit/ir/tensor.hpp
  src/gpu/intel/jit/pooling/config.hpp
  src/gpu/intel/jit/reorder/ir_builder.cpp
  src/gpu/intel/jit/v2/conv/builder.cpp
  src/gpu/intel/jit/v2/conv/gen_convolution.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.cpp
  src/gpu/intel/jit/v2/conv/kernel_desc.hpp
Owners: @oneapi-src/onednn-gpu-intel

cpu: x64: jit_binary_kernel: pass src2_dt unconditionally
  src/cpu/x64/jit_uni_binary_kernel.cpp
Owners: @oneapi-src/onednn-cpu-x64

tests: benchdnn: update skip impl prb on deconv for gpu (#2779)
  tests/benchdnn/deconv/deconv.cpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

cpu: x64: conv: update estimate_brgemm_ur for better blocking (#2770)
  src/cpu/x64/jit_brgemm_conv_utils.cpp
Owners: @oneapi-src/onednn-cpu-x64

xe: jit: gemm: reduced-cache stream-k implementation
  src/gpu/intel/jit/gemm/gemm_walk_orders.hpp
  src/gpu/intel/jit/gemm/gen_gemm_kernel.cpp
  src/gpu/intel/jit/gemm/generator/generator.cpp
  src/gpu/intel/jit/gemm/generator/pieces/atomic_fusions.cxx
  src/gpu/intel/jit/gemm/generator/pieces/atomic_fusions.hpp
  src/gpu/intel/jit/gemm/generator/pieces/c_update.cxx
  src/gpu/intel/jit/gemm/generator/pieces/gemm.cxx
  src/gpu/intel/jit/gemm/generator/pieces/gemm_setup.cxx
  src/gpu/intel/jit/gemm/generator/pieces/k_loop.cxx
  src/gpu/intel/jit/gemm/generator/pieces/math_helpers.cxx
  src/gpu/intel/jit/gemm/generator/pieces/matrix_multiply.cxx
  src/gpu/intel/jit/gemm/generator/pieces/post_ops.cxx
  src/gpu/intel/jit/gemm/generator/pieces/state.hpp
  src/gpu/intel/jit/gemm/generator/pieces/stream_k.cxx
  src/gpu/intel/jit/gemm/generator/pieces/walk_orders.cxx
  src/gpu/intel/jit/gemm/generator/strategy.cpp
  src/gpu/intel/jit/gemm/generator/strategy_parser.cpp
  src/gpu/intel/jit/gemm/include/driver_info.hpp
  src/gpu/intel/jit/gemm/include/generator.hpp
  src/gpu/intel/jit/gemm/include/strategy.hpp
Owners: @oneapi-src/onednn-gpu-intel

common: return described memory size when offset0 is set
  src/common/memory.cpp
  src/common/memory_desc_wrapper.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

xe: add missing offset0 when determining if large buffers are required
  src/gpu/intel/compute/kernel_ctx.cpp
  src/gpu/intel/compute/kernel_ctx.hpp
  src/gpu/intel/ocl/gen9_pooling.cpp
  src/gpu/intel/primitive_conf.cpp
Owners: @oneapi-src/onednn-gpu-intel

gated_mlp: enable additional internal quantization tests
  tests/gtests/internals/test_gated_mlp.cpp
  tests/gtests/internals/test_sdpa.cpp
  tests/gtests/internals/test_utils.cpp
  tests/gtests/internals/test_utils.hpp
Owners: @oneapi-src/onednn-arch, @intel-innersource/dnn-arch

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2025 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @oneapi-src/onednn-arch @intel-innersource/dnn-arch

# Github automation
/.github/ @oneapi-src/onednn-devops

# CPU Engine
/src/cpu/aarch64/ @oneapi-src/onednn-cpu-aarch64
/src/cpu/x64/ @oneapi-src/onednn-cpu-x64
/src/cpu/rnn/ @oneapi-src/onednn-cpu-x64

# GPU Engine
/src/gpu/amd/ @oneapi-src/onednn-gpu-amd
/src/gpu/intel/ @oneapi-src/onednn-gpu-intel
/src/gpu/nvidia/ @oneapi-src/onednn-gpu-nvidia
/src/gpu/generic/ @oneapi-src/onednn-arch
/src/gpu/generic/sycl/ @oneapi-src/onednn-gpu-generic

# Tests
/tests/benchdnn/inputs/ @oneapi-src/onednn-maintain
/tests/benchdnn/graph/ @oneapi-src/onednn-graph @oneapi-src/onednn-arch
/tests/benchdnn/inputs/graph/ @oneapi-src/onednn-graph @oneapi-src/onednn-arch
/tests/gtests/graph/ @oneapi-src/onednn-graph

# Graph API
/src/graph/ @oneapi-src/onednn-graph

# Documentation
*.md  @oneapi-src/onednn-doc @oneapi-src/onednn-arch
/doc/ @oneapi-src/onednn-doc @oneapi-src/onednn-arch

# Third party components
/third-party/ @oneapi-src/onednn-arch
/third_party/level_zero/ @oneapi-src/onednn-gpu-intel
/third_party/mdapi/ @oneapi-src/onednn-gpu-intel
/third_party/ngen/ @oneapi-src/onednn-gpu-intel
/third_party/xbyak/ @oneapi-src/onednn-cpu-x64
/third_party/xbyak_aarch64/ @oneapi-src/onednn-cpu-aarch64

# Governance and process
/.github/CODEOWNERS @oneapi-src/onednn-maintain
/SECURITY.md @oneapi-src/onednn-maintain
/MAINTAINERS.md @oneapi-src/onednn-maintain
/CONTRIBUTING.md @oneapi-src/onednn-maintain
/CODING_STANDARDS.md @oneapi-src/onednn-maintain
/CODE_OF_CONDUCT.md @oneapi-src/onednn-maintain
