Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-devops, @uxlfoundation/onednn-cpu-aarch64, @uxlfoundation/onednn-cpu-x64, @uxlfoundation/onednn-gpu-amd, @uxlfoundation/onednn-gpu-intel, @uxlfoundation/onednn-gpu-nvidia, @uxlfoundation/onednn-gpu-generic, @uxlfoundation/onednn-maintain, @uxlfoundation/onednn-graph, @uxlfoundation/onednn-doc

common: attr: switch off consistency check for now
  src/common/primitive_attr.cpp
  tests/gtests/dnnl_test_common.hpp
Owners: @uxlfoundation/onednn-arch

xe: remove ngen relative directories
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/internal/ngen_includes.hpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/pooling/gen_pooling.cpp
  src/gpu/intel/jit/reduction_generator.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/reduction_injector.hpp
  src/gpu/intel/sycl/l0/utils.cpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: remove ngen relative directories
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/internal/ngen_includes.hpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/pooling/gen_pooling.cpp
  src/gpu/intel/jit/reduction_generator.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/reduction_injector.hpp
  src/gpu/intel/sycl/l0/utils.cpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: BMG/LNL product detection
  third_party/ngen/ngen_core.hpp
  third_party/ngen/npack/neo_packager.hpp
  third_party/ngen/npack/neo_structs.hpp
Owners: @uxlfoundation/onednn-gpu-intel

all: updated default branch name to main
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  doc/advanced/understanding_memory_formats.md
  doc/build/build.md
  doc/build/build_options.md
  doc/performance_considerations/benchdnn.md
  doc/sphinx/conf.py
  tests/benchdnn/utils/parser.cpp
Owners: @uxlfoundation/onednn-doc, @uxlfoundation/onednn-arch

upgrade to v7.23
  third_party/xbyak/xbyak.h
  third_party/xbyak/xbyak_mnemonic.h
  third_party/xbyak/xbyak_util.h
Owners: @uxlfoundation/onednn-cpu-x64

upgrade to v7.23.1
  third_party/xbyak/xbyak_util.h
Owners: @uxlfoundation/onednn-cpu-x64

benchdnn: inputs: graph: fix test cases related to int8/f8 add
  tests/benchdnn/inputs/graph/pattern/f8/f8_conv_add_add_fusion.json
  tests/benchdnn/inputs/graph/pattern/harness_int8_all
  tests/benchdnn/inputs/graph/pattern/int8/int8_bf16_conv_add_relu_mul.json
  tests/benchdnn/inputs/graph/pattern/int8/int8_conv_add_add_fusion.json
  tests/benchdnn/inputs/graph/pattern/int8/int8_matmul_mul_add_mul_fusion.json
Owners: @uxlfoundation/onednn-graph, @uxlfoundation/onednn-arch

graph: backend: dnnl: fix softmax datatype in sdp decompose kernel
  src/graph/backend/dnnl/kernels/sdp_decomp.cpp
  src/graph/backend/dnnl/kernels/sdp_decomp_config.cpp
Owners: @uxlfoundation/onednn-graph

examples: f32 softmax (revert me)
  examples/graph/sdpa.cpp
Owners: @uxlfoundation/onednn-arch

graph: backend: dnnl: patterns: sdpa w/ f32 softmax
  src/graph/backend/dnnl/patterns/sdp.cpp
Owners: @uxlfoundation/onednn-graph

graph: backend: dnnl: filter out xf16 softmax in sdp primitive kernel
  src/graph/backend/dnnl/kernels/sdp_primitive_config.cpp
Owners: @uxlfoundation/onednn-graph

graph: backend: dnnl: add softmax alternation in more sdpa patterns
  src/graph/backend/dnnl/patterns/sdp.cpp
Owners: @uxlfoundation/onednn-graph

graph: backend: dnnl: check data type for typecast
  src/graph/backend/dnnl/patterns/sdp.cpp
Owners: @uxlfoundation/onednn-graph

graph: backend: dnnl: sdpa: refine fp softmax definition
  src/graph/backend/dnnl/patterns/sdp.cpp
Owners: @uxlfoundation/onednn-graph

graph: backend: dnnl: fixed sdpa pattern with mixed data types
  src/graph/backend/dnnl/patterns/sdp.cpp
Owners: @uxlfoundation/onednn-graph

examples: graph: sdpa: matmul with xf16 in and f32 out
  examples/graph/sdpa.cpp
Owners: @uxlfoundation/onednn-arch

graph: interface: op: matmul supports mixed data types
  src/graph/interface/op_def.hpp
  src/graph/interface/op_def_constraint.cpp
  src/graph/interface/op_def_constraint.hpp
Owners: @uxlfoundation/onednn-graph

benchdnn: inputs: graph: add a case for sdpa with f32 softmax
  tests/benchdnn/inputs/graph/complex_fusion/mha/sdpa-plain-simplified-f16-softmax-f32.json
Owners: @uxlfoundation/onednn-graph, @uxlfoundation/onednn-arch

Change output type of layers
  examples/network/pointnet.cpp
Owners: @uxlfoundation/onednn-arch

Add Copyright
  examples/network/pointnet.cpp
Owners: @uxlfoundation/onednn-arch

cpu: aarch64: add brgemm bwd data support for block size 8 and 16
  src/cpu/aarch64/jit_brgemm_conv.cpp
  src/cpu/aarch64/jit_brgemm_conv_bwd.cpp
  src/cpu/aarch64/jit_brgemm_conv_bwd.hpp
  src/cpu/cpu_convolution_list.cpp
Owners: @uxlfoundation/onednn-cpu-aarch64, @uxlfoundation/onednn-arch

cpu: aarch64: add brgemm bwd data support for block size 8 and 16
  src/cpu/aarch64/jit_brgemm_conv.cpp
Owners: @uxlfoundation/onednn-cpu-aarch64

Address PR comments
  examples/network/pointnet.cpp
Owners: @uxlfoundation/onednn-arch

Address PR comments: merge last two layer in a single logsoftmax and properly enable bias in FCLayer
  examples/network/pointnet.cpp
Owners: @uxlfoundation/onednn-arch

xe: remove ngen relative directories
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/internal/ngen_includes.hpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/pooling/gen_pooling.cpp
  src/gpu/intel/jit/reduction_generator.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/reduction_injector.hpp
  src/gpu/intel/sycl/l0/utils.cpp
Owners: @uxlfoundation/onednn-gpu-intel

cpu: x64: pooling: use fp32 accumulator for bf16 max-pooling backprop
  src/common/memory_tracking.hpp
  src/cpu/x64/jit_primitive_conf.hpp
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
  src/cpu/x64/jit_uni_pooling.cpp
Owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-cpu-x64

cpu: x64: pooling: support acc mode in max pooling backprop for bf16
  src/cpu/x64/jit_uni_pool_kernel.cpp
  tests/benchdnn/inputs/pool/test_pool_bfloat16
  tests/benchdnn/pool/pool.cpp
Owners: @uxlfoundation/onednn-cpu-x64, @uxlfoundation/onednn-maintain, @uxlfoundation/onednn-arch

benchdnn: pool: use zero threshold for max-pooling errors
  tests/benchdnn/pool/pool.cpp
Owners: @uxlfoundation/onednn-arch

cpu: x64: pooling: fix ur_bc calculation in back propagation
  src/cpu/x64/jit_uni_pool_kernel.cpp
Owners: @uxlfoundation/onednn-cpu-x64

cpu: x64: pooling: init scratchpad refactoring
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
  src/cpu/x64/jit_uni_pooling.hpp
Owners: @uxlfoundation/onednn-cpu-x64

cpu: x64: pooling: refactor to use io injector
  src/cpu/x64/jit_uni_pool_kernel.cpp
  src/cpu/x64/jit_uni_pool_kernel.hpp
  src/cpu/x64/utils/jit_io_helper.cpp
Owners: @uxlfoundation/onednn-cpu-x64

xe: ocl: prevent double->float literal conversion
  src/gpu/intel/ocl/ocl_eltwise.h
Owners: @uxlfoundation/onednn-gpu-intel

xe: ocl: unconditionally enable Werror in dev_mode
  src/gpu/intel/compute/kernel_ctx.hpp
  src/gpu/intel/ocl/device_info.cpp
Owners: @uxlfoundation/onednn-gpu-intel

common: gemm: fix illegal ld for size-1 dimensions
  src/common/gemm_types.hpp
Owners: @uxlfoundation/onednn-arch

xe: jit: gemm: fix dynamic quantization scale tensor indexing
  src/gpu/intel/jit/gemm/generator/pieces/matrix_multiply.cxx
Owners: @uxlfoundation/onednn-gpu-intel

ci: clang-tidy: run on PRs from forks
  .github/workflows/clang-tidy.yml
Owners: @uxlfoundation/onednn-devops

xe: remove ngen relative directories
  src/gpu/intel/jit/codegen/kernel.hpp
  src/gpu/intel/jit/codegen/ngen_helpers.hpp
  src/gpu/intel/jit/codegen/register_allocator.hpp
  src/gpu/intel/jit/codegen/register_scope.hpp
  src/gpu/intel/jit/emulated_generator.hpp
  src/gpu/intel/jit/gemm/generator/microkernel_provider.cpp
  src/gpu/intel/jit/gemm/include/internal/ngen_includes.hpp
  src/gpu/intel/jit/generator.hpp
  src/gpu/intel/jit/pooling/gen_pooling.cpp
  src/gpu/intel/jit/reduction_generator.hpp
  src/gpu/intel/jit/reduction_injector.cpp
  src/gpu/intel/jit/reduction_injector.hpp
  src/gpu/intel/sycl/l0/utils.cpp
Owners: @uxlfoundation/onednn-gpu-intel

build: nvidia: fix install dependencies (#2768)
  cmake/config.cmake.in
  src/CMakeLists.txt
Owners: @uxlfoundation/onednn-arch

xe: ocl: prevent double->float literal conversion
  src/gpu/intel/ocl/ocl_eltwise.h
Owners: @uxlfoundation/onednn-gpu-intel

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2025 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @uxlfoundation/onednn-arch

# Github automation
/.github/ @uxlfoundation/onednn-devops

# CPU Engine
/src/cpu/aarch64/ @uxlfoundation/onednn-cpu-aarch64
/src/cpu/x64/ @uxlfoundation/onednn-cpu-x64
/src/cpu/rnn/ @uxlfoundation/onednn-cpu-x64

# GPU Engine
/src/gpu/amd/ @uxlfoundation/onednn-gpu-amd
/src/gpu/intel/ @uxlfoundation/onednn-gpu-intel
/src/gpu/nvidia/ @uxlfoundation/onednn-gpu-nvidia
/src/gpu/generic/ @uxlfoundation/onednn-arch
/src/gpu/generic/sycl/ @uxlfoundation/onednn-gpu-generic

# Tests
/tests/benchdnn/inputs/ @uxlfoundation/onednn-maintain
/tests/benchdnn/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/benchdnn/inputs/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/gtests/graph/ @uxlfoundation/onednn-graph

# Graph API
/src/graph/ @uxlfoundation/onednn-graph

# Documentation
*.md  @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch
/doc/ @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch

# Third party components
/third-party/ @uxlfoundation/onednn-arch
/third_party/level_zero/ @uxlfoundation/onednn-gpu-intel
/third_party/mdapi/ @uxlfoundation/onednn-gpu-intel
/third_party/ngen/ @uxlfoundation/onednn-gpu-intel
/third_party/xbyak/ @uxlfoundation/onednn-cpu-x64
/third_party/xbyak_aarch64/ @uxlfoundation/onednn-cpu-aarch64

# Governance and process
/.github/CODEOWNERS @uxlfoundation/onednn-maintain
/SECURITY.md @uxlfoundation/onednn-maintain
/MAINTAINERS.md @uxlfoundation/onednn-maintain
/CONTRIBUTING.md @uxlfoundation/onednn-maintain
/CODING_STANDARDS.md @uxlfoundation/onednn-maintain
/CODE_OF_CONDUCT.md @uxlfoundation/onednn-maintain
