Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-devops, @uxlfoundation/onednn-cpu-aarch64, @uxlfoundation/onednn-cpu-x64, @uxlfoundation/onednn-gpu-amd, @uxlfoundation/onednn-gpu-intel, @uxlfoundation/onednn-gpu-nvidia, @uxlfoundation/onednn-gpu-generic, @uxlfoundation/onednn-maintain, @uxlfoundation/onednn-graph, @uxlfoundation/onednn-doc

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2025 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @uxlfoundation/onednn-arch

# Github automation
/.github/ @uxlfoundation/onednn-devops

# CPU Engine
/src/cpu/aarch64/ @uxlfoundation/onednn-cpu-aarch64
/src/cpu/x64/ @uxlfoundation/onednn-cpu-x64
/src/cpu/rnn/ @uxlfoundation/onednn-cpu-x64

# GPU Engine
/src/gpu/amd/ @uxlfoundation/onednn-gpu-amd
/src/gpu/intel/ @uxlfoundation/onednn-gpu-intel
/src/gpu/nvidia/ @uxlfoundation/onednn-gpu-nvidia
/src/gpu/generic/ @uxlfoundation/onednn-arch
/src/gpu/generic/sycl/ @uxlfoundation/onednn-gpu-generic

# Tests
/tests/benchdnn/inputs/ @uxlfoundation/onednn-maintain
/tests/benchdnn/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/benchdnn/inputs/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/gtests/graph/ @uxlfoundation/onednn-graph

# Graph API
/src/graph/ @uxlfoundation/onednn-graph

# Documentation
*.md  @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch
/doc/ @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch

# Third party components
/third-party/ @uxlfoundation/onednn-arch
/third_party/level_zero/ @uxlfoundation/onednn-gpu-intel
/third_party/mdapi/ @uxlfoundation/onednn-gpu-intel
/third_party/ngen/ @uxlfoundation/onednn-gpu-intel
/third_party/xbyak/ @uxlfoundation/onednn-cpu-x64
/third_party/xbyak_aarch64/ @uxlfoundation/onednn-cpu-aarch64

# Governance and process
/.github/CODEOWNERS @uxlfoundation/onednn-maintain
/SECURITY.md @uxlfoundation/onednn-maintain
/MAINTAINERS.md @uxlfoundation/onednn-maintain
/CONTRIBUTING.md @uxlfoundation/onednn-maintain
/CODING_STANDARDS.md @uxlfoundation/onednn-maintain
/CODE_OF_CONDUCT.md @uxlfoundation/onednn-maintain

xe: ocl: unconditionally enable Werror in dev_mode
  src/gpu/intel/compute/kernel_ctx.hpp
  src/gpu/intel/ocl/device_info.cpp
Owners: @uxlfoundation/onednn-gpu-intel

benchdnn: mprotect: add errno handling for better messaging
  tests/benchdnn/common.cpp
Owners: @uxlfoundation/onednn-arch

cpu: scale_utils: remove move mask retrieval as unneeded
  src/cpu/scale_utils.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: dnnl_memory: update memset method to access buffer index
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
Owners: @uxlfoundation/onednn-arch

cpu: x64: jit_avx512_core_x8s8s32x_conv_kernel: restore scratchpad size
  src/cpu/x64/jit_avx512_core_x8s8s32x_conv_kernel.cpp
Owners: @uxlfoundation/onednn-cpu-x64

fixup: benchdnn: softmax: remove norm comparison for logsoftmax
  tests/benchdnn/utils/compare.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: matmul: fix sparse problems segfaulting under mode=R
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
  tests/benchdnn/matmul/matmul.cpp
Owners: @uxlfoundation/onednn-arch

fixup: benchdnn: apply memory protection when running the library
  tests/benchdnn/common.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: utils: cold-cache: improve error message for reorder
  tests/benchdnn/utils/cold_cache.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: reorder: add error message for incorrect oflag inputs
  tests/benchdnn/reorder/reorder_aux.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: inputs: reorder: skip huge problems for slow impls
  tests/benchdnn/inputs/reorder/harness_reorder_large
  tests/benchdnn/inputs/reorder/test_reorder_all
  tests/benchdnn/inputs/reorder/test_reorder_gpu
Owners: @uxlfoundation/onednn-maintain

fixup: benchdnn: doc: rename cold-cache file
  tests/benchdnn/doc/knobs_common.md
Owners: @uxlfoundation/onednn-doc, @uxlfoundation/onednn-arch

cpu: x64: jit_direct_reorder: add identical extra buffers support
  src/cpu/reorder/cpu_reorder_comp_s8_s8.cpp
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
Owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-cpu-x64

cpu: aarch64: Enable stateless ACL LayerNorm
  src/cpu/aarch64/acl_layer_normalization.cpp
  src/cpu/aarch64/acl_layer_normalization.hpp
Owners: @uxlfoundation/onednn-cpu-aarch64

fixup: benchdnn: parser: check for dangling symbol at get_substr
  tests/benchdnn/utils/parser.cpp
Owners: @uxlfoundation/onednn-arch

doc: updates to open source site
  cmake/Sphinx.cmake
  doc/rst/index.rst
  doc/sphinx/_static/favicons.png
  doc/sphinx/_static/oneAPI-rgb-rev-100.png
  doc/sphinx/conf.py
Owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-doc

xe: BMG/LNL product detection
  third_party/ngen/ngen_core.hpp
  third_party/ngen/npack/neo_packager.hpp
  third_party/ngen/npack/neo_structs.hpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: sdpa: Update test names and execution parameters
  tests/gtests/internals/test_sdpa.cpp
Owners: @uxlfoundation/onednn-arch

xe: sdpa: config optimization for integrated GPUs and BMG
  src/gpu/intel/ocl/micro_sdpa.cpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: sdpa: add block 2d load store definition for bf16
  src/gpu/intel/ocl/tile_ops.h
Owners: @uxlfoundation/onednn-gpu-intel

xe: ocl: sdpa: config updates
  src/gpu/intel/ocl/micro_sdpa.cpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: sdpa: Add ability to update configs via dev_getenv. Improve logs
  src/gpu/intel/ocl/micro_sdpa.cpp
Owners: @uxlfoundation/onednn-gpu-intel

4
  examples/CMakeLists.txt
  examples/graph/compat/compat_helpers.hpp
  examples/graph/compat/f16_flash_mha_sample.cpp
Owners: @uxlfoundation/onednn-arch

gpu: intel: ocl: add s32 support for binary
  src/gpu/intel/ocl/gen9_binary.hpp
Owners: @uxlfoundation/onednn-gpu-intel

intel: ocl: rnn: add lbr_gru algorithm to cell_common
  src/gpu/intel/ocl/rnn/cell_compute.h
  src/gpu/intel/ocl/rnn/rnn_grid.cl
Owners: @uxlfoundation/onednn-gpu-intel

intel: ocl: rnn: add use_cell function call to cell_gru_lbr
  src/gpu/intel/ocl/rnn/cell_gru_lbr.cpp
Owners: @uxlfoundation/onednn-gpu-intel

cpu: aarch64: modify acl_pooling for stateless functions
  src/cpu/aarch64/acl_pooling.cpp
  src/cpu/aarch64/acl_pooling.hpp
Owners: @uxlfoundation/onednn-cpu-aarch64

intel: ocl: rnn: initial k dispatch logic
  src/gpu/intel/ocl/rnn/rnn_utils.cpp
Owners: @uxlfoundation/onednn-gpu-intel

intel: ocl: rnn: add lbr_gru algorithm to cell_common
  src/gpu/intel/ocl/rnn/cell_compute.h
  src/gpu/intel/ocl/rnn/rnn_grid.cl
Owners: @uxlfoundation/onednn-gpu-intel

intel: ocl: rnn: add use_cell function call to cell_gru_lbr
  src/gpu/intel/ocl/rnn/cell_gru_lbr.cpp
Owners: @uxlfoundation/onednn-gpu-intel

wip
  src/gpu/intel/jit/reorder/ir_builder.cpp
  src/xpu/ocl/usm_utils.hpp
  tests/benchdnn/dnn_types.cpp
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/dnnl_common.hpp
  tests/benchdnn/dnnl_memory.cpp
Owners: @uxlfoundation/onednn-gpu-intel, @uxlfoundation/onednn-arch

xe: sdpa: Fix failure in test on Windows with SYCL runtime
  tests/gtests/internals/test_sdpa.cpp
Owners: @uxlfoundation/onednn-arch

tests: gpu: benchdnn usm fix
  src/xpu/ocl/usm_utils.hpp
  tests/benchdnn/dnnl_memory.cpp
Owners: @uxlfoundation/onednn-arch

tests: gpu: benchdnn philox format fix
  src/xpu/ocl/usm_utils.hpp
Owners: @uxlfoundation/onednn-arch

xehpg: jit: gemm: fix out-of-registers conditions in some dot kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @uxlfoundation/onednn-gpu-intel

xehpg: jit: gemm: fix out-of-registers conditions in some dot kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @uxlfoundation/onednn-gpu-intel

xe: jit: gemm: enable hf->e3m0 downscale
  src/gpu/intel/jit/gemm/gen_gemm.hpp
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.cpp
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.hpp
  src/gpu/intel/jit/gemm/generator/pieces/ngen_object_helpers.hpp
Owners: @uxlfoundation/onednn-gpu-intel

third_party: ngen: fixup insn restrictions
  third_party/ngen/ngen.hpp
  third_party/ngen/ngen_core.hpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: jit: gemm: adjust strategy for e3m0
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @uxlfoundation/onednn-gpu-intel

tests: benchdnn: inputs: add gemm f4_e3m0 dst
  tests/benchdnn/inputs/matmul/test_matmul_fp4
Owners: @uxlfoundation/onednn-maintain
