Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @intel-innersource/dnn-arch, @intel-innersource/dnn-doc, @intel-innersource/dnn-mgmt, @intel-innersource/dnn-cpu, @intel-innersource/dnn-blas, @intel-innersource/dnn-gpu, @intel-innersource/dnn-graph, @intel-innersource/dnn-compiler

gpu: sycl: prelu: fix benchdnn failures
  src/gpu/sycl/prelu_kernels.hpp
Owners: @intel-innersource/dnn-gpu

gpu: xe2: EU count workaround
  src/gpu/ocl/ocl_gpu_device_info.cpp
  src/gpu/ocl/ocl_utils.cpp
  src/gpu/ocl/ocl_utils.hpp
  src/sycl/sycl_device_info.cpp
Owners: @intel-innersource/dnn-gpu, @intel-innersource/dnn-arch

rfcs: graph: propose ocl runtime support
  rfcs/20240228-graph-api-ocl-runtime/README.md
Owners: @intel-innersource/dnn-doc, @intel-innersource/dnn-mgmt, @intel-innersource/dnn-arch

rfcs: graph: ocl runtime: create engine from cache blob
  rfcs/20240228-graph-api-ocl-runtime/README.md
Owners: @intel-innersource/dnn-doc, @intel-innersource/dnn-mgmt, @intel-innersource/dnn-arch

common: engine: add verbose checks for engine creation
  src/common/engine.cpp
  src/common/engine.hpp
  src/common/verbose_msg.hpp
Owners: @intel-innersource/dnn-arch

sycl: engine: add verbose checks for sycl engine creation
  src/sycl/sycl_engine.cpp
  src/sycl/sycl_engine.hpp
  src/sycl/sycl_engine_base.hpp
  src/sycl/sycl_utils.cpp
  src/sycl/sycl_utils.hpp
Owners: @intel-innersource/dnn-arch

gpu: ocl: add verbose checks for ocl engine creation
  src/gpu/ocl/ocl_engine.hpp
Owners: @intel-innersource/dnn-gpu

cpu: x64: brgconv: change regression dispatching conditions to more strict
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
Owners: @intel-innersource/dnn-cpu

cpu: x64: brgconv: add blocking eff threshold
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
Owners: @intel-innersource/dnn-cpu

x64: brgconv: remove unnecessary batchsize loops
  src/cpu/x64/jit_brgemm_conv_bwd_strided.cpp
  src/cpu/x64/jit_brgemm_conv_bwd_strided.hpp
Owners: @intel-innersource/dnn-cpu

x64: brgconv: fixup K_tail
  src/cpu/x64/jit_brgemm_conv_bwd_utils.cpp
Owners: @intel-innersource/dnn-cpu

tests: benchdnn: fix gaps in gpu f16 training tests
  tests/benchdnn/dnnl_common.cpp
  tests/benchdnn/inputs/conv/test_conv_ci
  tests/benchdnn/inputs/deconv/test_deconv_ci
Owners: @intel-innersource/dnn-arch, @intel-innersource/dnn-cpu, @intel-innersource/dnn-gpu

doc: correct gpu support for f16 training
  doc/programming_model/data_types.md
Owners: @intel-innersource/dnn-doc, @intel-innersource/dnn-arch

doc: fix warnings
  include/oneapi/dnnl/dnnl.h
Owners: @intel-innersource/dnn-arch

[FORK][FIX][x64] Add binary post op check to jit_gemm prim desc
  src/cpu/gemm_convolution.hpp
Owners: @intel-innersource/dnn-cpu

graph: backend: dnnl: fix offset for int8-bf16 matmul_tc_dd_q pattern
  src/graph/backend/dnnl/passes/transform.cpp
  tests/benchdnn/inputs/graph/pattern/harness_int8_all
  tests/benchdnn/inputs/graph/pattern/int8/int8_bf16_matmul_tc_add_quant_fusion.json
Owners: @intel-innersource/dnn-graph, @intel-innersource/dnn-arch

tests: fixed broken subproject test
  tests/other/subproject/CMakeLists.txt
  tests/other/subproject/main.c
Owners: @intel-innersource/dnn-arch

gpu: jit: conv: update lut for yolo_v4 int8 mb16 and resent_v1.5 int8 mb8
  src/gpu/jit/conv/lookup_table_data.cpp
Owners: @intel-innersource/dnn-gpu

remove brgemm_palette
  src/cpu/aarch64/brgemm/brgemm_containers.cpp
  src/cpu/aarch64/brgemm/brgemm_containers.hpp
  src/cpu/aarch64/matmul/brgemm_matmul.hpp
Owners: @intel-innersource/dnn-cpu

A test for the IP-Review system
  test.txt
Owners: @intel-innersource/dnn-arch

Revert "A test for the IP-Review system"
  test.txt
Owners: @intel-innersource/dnn-arch

src: cpu: aarch64: conv: forward: sve_fp32
  src/cpu/aarch64/cpu_barrier.cpp
  src/cpu/aarch64/cpu_reducer.cpp
  src/cpu/aarch64/cpu_reducer.hpp
  src/cpu/aarch64/injectors/injector_utils.hpp
  src/cpu/aarch64/jit_op_imm_check.hpp
  src/cpu/aarch64/jit_sve_conv_kernel.cpp
  src/cpu/aarch64/jit_sve_conv_kernel.hpp
  src/cpu/aarch64/jit_sve_convolution.cpp
  src/cpu/aarch64/jit_sve_convolution.hpp
  src/cpu/cpu_convolution_list.cpp
  src/cpu/platform.cpp
Owners: @intel-innersource/dnn-cpu

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2024 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @intel-innersource/dnn-arch

# Documentation
*.md  @intel-innersource/dnn-doc @intel-innersource/dnn-mgmt @intel-innersource/dnn-arch
/doc/ @intel-innersource/dnn-doc @intel-innersource/dnn-arch

# CPU-specific optimizations
/src/cpu/ @intel-innersource/dnn-cpu

# CPU BLAS
/src/cpu/gemm/ @intel-innersource/dnn-blas @intel-innersource/dnn-arch

# GPU-specific optimizations
/src/gpu/ @intel-innersource/dnn-gpu

# NVIDIA and AMD backends
/src/gpu/nvidia @intel-innersource/dnn-gpu @intel-innersource/dnn-arch
/src/gpu/amd @intel-innersource/dnn-gpu @intel-innersource/dnn-arch

# Tests
/tests/benchdnn/inputs/ @intel-innersource/dnn-arch @intel-innersource/dnn-cpu @intel-innersource/dnn-gpu

# Graph
/src/graph/ @intel-innersource/dnn-graph
/tests/benchdnn/graph/ @intel-innersource/dnn-arch @intel-innersource/dnn-graph
/tests/benchdnn/inputs/graph/ @intel-innersource/dnn-arch @intel-innersource/dnn-graph
/tests/gtests/graph/ @intel-innersource/dnn-graph

# Graph compiler
/src/graph/backend/graph_compiler/ @intel-innersource/dnn-compiler
/tests/gtests/graph/unit/backend/graph_compiler/ @intel-innersource/dnn-compiler
