Repository oneapi-src/oneDNN, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-devops, @uxlfoundation/onednn-cpu-aarch64, @uxlfoundation/onednn-cpu-x64, @uxlfoundation/onednn-gpu-amd, @uxlfoundation/onednn-gpu-intel, @uxlfoundation/onednn-gpu-nvidia, @uxlfoundation/onednn-gpu-generic, @uxlfoundation/onednn-maintain, @uxlfoundation/onednn-graph, @uxlfoundation/onednn-doc

.github/CODEOWNERS:

#===============================================================================
# Copyright 2019-2025 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#===============================================================================

# Default
* @uxlfoundation/onednn-arch

# Github automation
/.github/ @uxlfoundation/onednn-devops

# CPU Engine
/src/cpu/aarch64/ @uxlfoundation/onednn-cpu-aarch64
/src/cpu/x64/ @uxlfoundation/onednn-cpu-x64
/src/cpu/rnn/ @uxlfoundation/onednn-cpu-x64

# GPU Engine
/src/gpu/amd/ @uxlfoundation/onednn-gpu-amd
/src/gpu/intel/ @uxlfoundation/onednn-gpu-intel
/src/gpu/nvidia/ @uxlfoundation/onednn-gpu-nvidia
/src/gpu/generic/ @uxlfoundation/onednn-arch
/src/gpu/generic/sycl/ @uxlfoundation/onednn-gpu-generic

# Tests
/tests/benchdnn/inputs/ @uxlfoundation/onednn-maintain
/tests/benchdnn/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/benchdnn/inputs/graph/ @uxlfoundation/onednn-graph @uxlfoundation/onednn-arch
/tests/gtests/graph/ @uxlfoundation/onednn-graph

# Graph API
/src/graph/ @uxlfoundation/onednn-graph

# Documentation
*.md  @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch
/doc/ @uxlfoundation/onednn-doc @uxlfoundation/onednn-arch

# Third party components
/third-party/ @uxlfoundation/onednn-arch
/third_party/level_zero/ @uxlfoundation/onednn-gpu-intel
/third_party/mdapi/ @uxlfoundation/onednn-gpu-intel
/third_party/ngen/ @uxlfoundation/onednn-gpu-intel
/third_party/xbyak/ @uxlfoundation/onednn-cpu-x64
/third_party/xbyak_aarch64/ @uxlfoundation/onednn-cpu-aarch64

# Governance and process
/.github/CODEOWNERS @uxlfoundation/onednn-maintain
/SECURITY.md @uxlfoundation/onednn-maintain
/MAINTAINERS.md @uxlfoundation/onednn-maintain
/CONTRIBUTING.md @uxlfoundation/onednn-maintain
/CODING_STANDARDS.md @uxlfoundation/onednn-maintain
/CODE_OF_CONDUCT.md @uxlfoundation/onednn-maintain

xe: microkernels: disambiguate vISA variables from separate invocations
  src/gpu/intel/microkernels/shim.cpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: ocl: gemm: enable mixed f4 ref
  src/gpu/intel/ocl/ref_matmul.hpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: jit: gemm: separate 4-bit byte pack
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.cpp
  src/gpu/intel/jit/gemm/generator/pieces/copy_plan.hpp
Owners: @uxlfoundation/onednn-gpu-intel

xe: jit: gemm: adjust kernel for e3m0
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @uxlfoundation/onednn-gpu-intel

benchdnn: utils: cold-cache: improve error message for reorder
  tests/benchdnn/utils/cold_cache.cpp
Owners: @uxlfoundation/onednn-arch

fixup: benchdnn: parser: check for dangling symbol at get_substr
  tests/benchdnn/utils/parser.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: dnnl_memory: update memset method to access buffer index
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
Owners: @uxlfoundation/onednn-arch

cpu: x64: jit_avx512_core_x8s8s32x_conv_kernel: restore scratchpad size
  src/cpu/x64/jit_avx512_core_x8s8s32x_conv_kernel.cpp
Owners: @uxlfoundation/onednn-cpu-x64

fixup: benchdnn: doc: rename cold-cache file
  tests/benchdnn/doc/knobs_common.md
Owners: @uxlfoundation/onednn-doc, @uxlfoundation/onednn-arch

benchdnn: reorder: add error message for incorrect oflag inputs
  tests/benchdnn/reorder/reorder_aux.cpp
Owners: @uxlfoundation/onednn-arch

fixup: benchdnn: apply memory protection when running the library
  tests/benchdnn/common.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: matmul: fix sparse problems segfaulting under mode=R
  tests/benchdnn/dnnl_memory.cpp
  tests/benchdnn/dnnl_memory.hpp
  tests/benchdnn/matmul/matmul.cpp
Owners: @uxlfoundation/onednn-arch

benchdnn: inputs: reorder: skip huge problems for slow impls
  tests/benchdnn/inputs/reorder/harness_reorder_large
  tests/benchdnn/inputs/reorder/test_reorder_all
  tests/benchdnn/inputs/reorder/test_reorder_gpu
Owners: @uxlfoundation/onednn-maintain

cpu: scale_utils: remove move mask retrieval as unneeded
  src/cpu/scale_utils.cpp
Owners: @uxlfoundation/onednn-arch

fixup: benchdnn: softmax: remove norm comparison for logsoftmax
  tests/benchdnn/utils/compare.cpp
Owners: @uxlfoundation/onednn-arch

cpu: x64: jit_direct_reorder: add identical extra buffers support
  src/cpu/reorder/cpu_reorder_comp_s8_s8.cpp
  src/cpu/x64/jit_uni_reorder_direct_copy.cpp
Owners: @uxlfoundation/onednn-arch, @uxlfoundation/onednn-cpu-x64

benchdnn: mprotect: add errno handling for better messaging
  tests/benchdnn/common.cpp
Owners: @uxlfoundation/onednn-arch

xehpg: jit: gemm: fix out-of-registers conditions in some dot kernels
  src/gpu/intel/jit/gemm/selector/db/kernel.db
Owners: @uxlfoundation/onednn-gpu-intel
